/* McDonald´s */

#mc{
	background-image: url("../assets/McDonalds/fondo1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.m1{
	background-image: url("../assets/McDonalds/h1.png");
}

.m2{
	background-image: url("../assets/McDonalds/h2.png");
}

.m3{
	background-image: url("../assets/McDonalds/h3.png");
}

.m4{
	background-image: url("../assets/McDonalds/h4.png");
}

.m5{
	background-image: url("../assets/McDonalds/h5.png");
}

.m6{
	background-image: url("../assets/McDonalds/h6.png");
}

.m7{
	background-image: url("../assets/McDonalds/h7.png");
}

.m8{
	background-image: url("../assets/McDonalds/h8.png");
}

.m9{
	background-image: url("../assets/McDonalds/h9.png");
}

.m10{
	background-image: url("../assets/McDonalds/h10.png");
}

.m11{
	background-image: url("../assets/McDonalds/h11.png");
}

.m12{
	background-image: url("../assets/McDonalds/h12.png");
}

.m13{
	background-image: url("../assets/McDonalds/h13.png");
}

.m14{
	background-image: url("../assets/McDonalds/h14.png");
}

.m15{
	background-image: url("../assets/McDonalds/h15.png");
}

.m16{
	background-image: url("../assets/McDonalds/h16.png");
}

/* Empieza estilos de cada hamburguesa Mcdonald */

html{
	background-image: url("../assets/McDonalds/fondo1.png");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

.hamburguesa{
	margin-top: 9%;
	margin-bottom: 9%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	padding: 10px 5px;
	font-family: 'Oswald', sans-serif;
	opacity: .9;
	box-shadow: 0 0 20px 7px rgb(0, 0, 0);
	animation: fadeInLeft 0.5s ease;
}

.hamContenido{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.hamImg{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: 25vw;
}

.hamDescripcion{
	margin-right: 23vw;
	margin-left: 2vw;
	text-align: left;
}

.hamDescripcion h1{
	max-width: 600px;
	margin-right: -23vw;
	white-space: nowrap; 
	font-size: 3rem;
	background-color: #ffc107;
}

.hamDescripcion .kcal{
	font-size: 1rem;
	letter-spacing: .1rem;
}

.hamDescripcion p{
	font-size: 1.5rem;
}

.hamVenta{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.hamVenta .precio{
	margin-bottom: 20px;
	font-size: 1.5rem;
	letter-spacing: .2rem;
}

.hamVenta .btn{
	font-size: 1.5rem;
}


@media(max-width: 1130px){
	.hamburguesa{
		animation: zoomIn 0.5s ease;
	}

	.hamDescripcion h1{
		max-width: 100%;
		font-size: 2.5rem;
		margin-right: 0;
	}
	.hamContenido{
		flex-direction: column;
		align-items: center;
	}

	.hamImg{
		margin-left: 0;
	}

	.hamImg img{
		width: 90vw;
	}

	.hamDescripcion{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
}

@media(max-width: 630px){
	.hamDescripcion h1{
		font-size: 2rem;
	}
	.hamDescripcion p{
		font-size: 1rem;
	}
	.hamVenta .precio{
		font-size: 1rem;
	}

	.hamVenta .btn{
		font-size: 1rem;
	}
}
/* Fin de McDonalds */

/* Burger King */

#bk{
	background-image: url("../assets/BurgerKing/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h1{
	background-image: url("../assets/BurgerKing/h1.png");
}

.h2{
	background-image: url("../assets/BurgerKing/h2.png");
}

.h3{
	background-image: url("../assets/BurgerKing/h3.png");
}

.h4{
	background-image: url("../assets/BurgerKing/h4.png");
}

.h5{
	background-image: url("../assets/BurgerKing/h5.png");
}

.h6{
	background-image: url("../assets/BurgerKing/h6.png");
}

.h7{
	background-image: url("../assets/BurgerKing/h7.png");
}

.h8{
	background-image: url("../assets/BurgerKing/h8.png");
}

.h9{
	background-image: url("../assets/BurgerKing/h9.png");
}

.h10{
	background-image: url("../assets/BurgerKing/h10.png");
}

.h11{
	background-image: url("../assets/BurgerKing/h11.png");
}

.h12{
	background-image: url("../assets/BurgerKing/h12.png");
}

.h13{
	background-image: url("../assets/BurgerKing/h13.png");
}

.h14{
	background-image: url("../assets/BurgerKing/h14.png");
}

.h15{
	background-image: url("../assets/BurgerKing/h15.png");
}

.h16{
	background-image: url("../assets/BurgerKing/h16.png");
}

.h17{
	background-image: url("../assets/BurgerKing/h17.png");
}

.h18{
	background-image: url("../assets/BurgerKing/h18.png");
}

.h19{
	background-image: url("../assets/BurgerKing/h19.png");
}

.h20{
	background-image: url("../assets/BurgerKing/h20.png");
}

.h21{
	background-image: url("../assets/BurgerKing/h21.png");
}

#burgerKing{
	background-image: url("../assets/BurgerKing/fondo.png");
}

.king{
	max-width: 800px;
	margin: 3% 0;
	display: flex;
	flex-direction: column;
	background-color: #f5ebdc;
	color: #502314;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 20px 7px rgb(0, 0, 0);
	animation: backInLeft 0.5s ease;
}

.kingImg{
	display: flex;
	justify-content: center;
	width: 100%;

}

.kingTitle{
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin-bottom: 10px;
}

.kingSubTitle{
	font-size: 1rem;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.kingText{
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.kingPrecio{
	justify-content: center;
	display: flex;
	font-size: 1.5rem;
	letter-spacing: .2rem;	
	margin-bottom: 20px;
}

.kingBtn{
	padding: 10px;
}

.kingBtn .btn{ 
	font-size: 1.5rem;

}

@media(max-width: 630px){
	.king{
		animation: backInUp .5s ease;
	}

	.kingImg img{
		width: 90vw;
	}

	.kingTitle{
		font-size: 1.5rem;
	}

	.kingPrecio{
		font-size: 1rem;
	}

	.kingBtn .btn{ 
	font-size: 1rem;
}
}

/* Fin de Burger King */

/* Mostaza */

#mostaza{
	background-image: url("../assets/Mostaza/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;	
}

.mz1{
	background-image: url("../assets/Mostaza/h1.png");
}

.mz2{
	background-image: url("../assets/Mostaza/h2.png");
}

.mz3{
	background-image: url("../assets/Mostaza/h3.png");
}

.mz4{
	background-image: url("../assets/Mostaza/h4.png");
}

.mz5{
	background-image: url("../assets/Mostaza/h5.png");
}

.mz6{
	background-image: url("../assets/Mostaza/h6.png");
}

.mz7{
	background-image: url("../assets/Mostaza/h7.png");
}

.mz8{
	background-image: url("../assets/Mostaza/h8.png");
}

.mz9{
	background-image: url("../assets/Mostaza/h9.png");
}

.mz10{
	background-image: url("../assets/Mostaza/h10.png");
}

.mz11{
	background-image: url("../assets/Mostaza/h11.png");
}

.mz12{
	background-image: url("../assets/Mostaza/h12.png");
}

.mz13{
	background-image: url("../assets/Mostaza/h13.png");
}

.hamMostaza{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 20px;
	color: #d92f36;
	font-family: 'Oswald', sans-serif;
	border: 5px solid #d92f36;
	box-shadow: 4px 3px 73px 0px rgba(217,47,54,1);
	animation: bounceIn 1s ease;
	margin-top: 4%;
	margin-bottom: 4%;
}

.hamMostazaTitle{
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

.hamMostazaText{
	padding: 10px;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
}

.hamMostazaPrecio{
	font-size: 1.5rem;
	margin-bottom: 10px;
	letter-spacing: .2rem;
	display: flex;
	justify-content: center;
}

.hamMostazaBtn .btn{
	font-size: 1.5rem;
}

/* Fin de Mostaza */

/* Wendy´s */

#wendys{
	background-image: url("../assets/Wendys/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;		
}

.w1{
	background-image: url("../assets/Wendys/h1.png");
}

.w2{
	background-image: url("../assets/Wendys/h2.png");
}

.w3{
	background-image: url("../assets/Wendys/h3.png");
}

.w4{
	background-image: url("../assets/Wendys/h4.png");
}

.w5{
	background-image: url("../assets/Wendys/h5.png");
}

.w6{
	background-image: url("../assets/Wendys/h6.png");
}

#wendy{
	background-image: url(none);
	background-color: #911317;
}

.wendy{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	margin-top: 6%;
	margin-bottom: 6%;
	animation: zoomIn .3s ease;
}

.wendyImg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wendyText{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 20px 10px;
	animation: zoomIn .7s ease;
}

.wendyText h1{
	font-size: 4rem;
	margin-bottom: 20px;
}

.wendyText p{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.wendyText h2{
	font-size: 2.5rem;
	letter-spacing: .2rem;
	margin-bottom: 20px;
}

.wendyText a .btn{
	font-size: 1.5rem;
}

@media(min-width:  1400px){
	.wendyText p{
		width: 50ch;
	}

	.wendyImg{
		margin-bottom: 81px;
		;
	}
}

@media(max-width: 1000px){
	.wendy{
		flex-direction: column;
		align-items: center;
	}

	.wendyText p{
		width: auto;

	}

	.wendyImg img{
		width: 80vw;
	}
}

@media(max-width: 630px){
	.wendyImg img{
		width: 80vw;
	}

	.wendyText h1{
		font-size: 3rem;
	}

	.wendyText h2{
		font-size: 2rem;
	}

	.wendyText p {
		font-size: 1.5rem;
	}

	.wendyText a .btn{
		font-size: 1.5rem;
	}
}
/* Fin de Wendy´s */

/* KFC */

#fkfc{ /* Configuracion especial para el footer de kfc porque queda un espacio grande */
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffc107;
	font-size: 30px;
	text-align: center;
	padding: 15px;
	margin-top: 147px;
	font-family: 'Roboto', sans-serif;
}

#kfc{
	background-image: url("../assets/KFC/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;		
}

.k1{
	background-image: url("../assets/KFC/h1.png");
}

.k2{
	background-image: url("../assets/KFC/h2.png");
}

.k3{
	background-image: url("../assets/KFC/h3.png");
}

.hamKFC{
	margin-bottom:8% ;
	margin-top: 8%;
	border-radius: 20px;
	display: flex;
	background-color: #8D8787;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	animation: zoomIn .5s ease;
	box-shadow: 0 0 20px 7px rgb(0, 0, 0);
}

.hamKFC1{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.hamKFCimg img{
	border-radius: 50%;
}

.hamKFCTitle{
	font-size: 2rem;
	margin-top: 5%;
}

.hamKFC2{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 30px;
}

.hamKFCText{
	font-size: 1.3rem;
	margin-top: 2%;
	margin-bottom: 6%;
	width: 50ch;
}

.hamKFCPrice{
	font-size: 1.5rem;
	margin-bottom: 6%;
}

.hamKFCBtn .btn{
	font-size: 1.2rem;

}

@media(max-width: 1200px){
	.hamKFC{
		flex-direction: column;

	}

	.hamKFCText{
		width: auto;
	}

	.hamKFCimg img{
		width: 80vw;
	}
}

/* Fin de KFC */

/* BurgaPoint */

/*#bp{ Despues agregare una foto que tengo que sacarle al local
	background-image: url("../assets/BurgaPoint/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;		
}*/

.bp1{
	background-image: url("../assets/BurgaPoint/h1.png");
}

.bp2{
	background-image: url("../assets/BurgaPoint/h2.png");
}

.bp3{
	background-image: url("../assets/BurgaPoint/h3.png");
}

.bp4{
	background-image: url("../assets/BurgaPoint/h4.png");
}

.bp5{
	background-image: url("../assets/BurgaPoint/h5.png");
}

.bp6{
	background-image: url("../assets/BurgaPoint/h6.png");
}

.bp7{
	background-image: url("../assets/BurgaPoint/h7.png");
}

.bp8{
	background-image: url("../assets/BurgaPoint/h8.png");
}

.bp9{
	background-image: url("../assets/BurgaPoint/h9.png");
}

.bp10{
	background-image: url("../assets/BurgaPoint/h10.png");
}

.bp11{
	background-image: url("../assets/BurgaPoint/h11.png");
}

.bp12{
	background-image: url("../assets/BurgaPoint/h12.png");
}

.bp13{
	background-image: url("../assets/BurgaPoint/h13.png");
}

.bp14{
	background-image: url("../assets/BurgaPoint/h14.png");
}

.bp15{
	background-image: url("../assets/BurgaPoint/h15.png");
}

/* Fin de BurgaPoint */

/* Porthos */

/*#bp{ Despues agregare una foto que tengo que sacarle al local
	background-image: url("../assets/BurgaPoint/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;		
}*/

.p1{
	background-image: url("../assets/Porthos/h1.png");
}

.p2{
	background-image: url("../assets/Porthos/h2.png");
}

.p3{
	background-image: url("../assets/Porthos/h3.png");
}

.p4{
	background-image: url("../assets/Porthos/h4.png");
}

.p5{
	background-image: url("../assets/Porthos/h5.png");
}

.p6{
	background-image: url("../assets/Porthos/h6.png");
}

/* Fin de Porthos */